#Importing libraries

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import winsorize

#Loading Datasets

In [100]:
bank_additional = pd.read_csv("/content/bank-additional.csv", delimiter= ";")

In [80]:
bank_additional_full = pd.read_csv("/content/bank-additional-full.csv", delimiter= ";")

In [81]:
bank = pd.read_csv("/content/bank.csv", delimiter= ";")

In [102]:
bank_full = pd.read_csv("/content/bank-full.csv", delimiter= ";")

#Data Info

In [ ]:
print (bank_additional.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB
None

In [ ]:
print (bank_additional_full.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

In [ ]:
print (bank.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB
None

In [ ]:
print (bank_full.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None

In [ ]:
print(bank_additional.shape)

(4119, 21)

In [ ]:
print(bank_additional_full.shape)

(41188, 21)

In [ ]:
print(bank.shape)

(4521, 17)

In [ ]:
print(bank_full.shape)

(45211, 17)

#Data Cleaning

In [ ]:
#Checking for missing values
print("\nMissing Values:\n", bank.isnull().sum())

Missing Values:
 age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
print("\nMissing Values:\n", bank_full.isnull().sum())

Missing Values:
 age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
print("\nMissing Values:\n", bank_additional.isnull().sum())

Missing Values:
 age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [ ]:
print("\nMissing Values:\n", bank_additional_full.isnull().sum())

Missing Values:
 age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

#Bank

In [83]:
print(bank.describe())

               age       balance          day     duration     campaign  \
count  4521.000000   4521.000000  4521.000000  4521.000000  4521.000000
mean     41.170095   1422.657819    15.915284   263.961292     2.793630
std      10.576211   3009.638142     8.247667   259.856633     3.109807
min      19.000000  -3313.000000     1.000000     4.000000     1.000000
25%      33.000000     69.000000     9.000000   104.000000     1.000000
50%      39.000000    444.000000    16.000000   185.000000     2.000000
75%      49.000000   1480.000000    21.000000   329.000000     3.000000
max      87.000000  71188.000000    31.000000  3025.000000    50.000000

             pdays     previous
count  4521.000000  4521.000000
mean     39.766645     0.542579
std     100.121124     1.693562
min      -1.000000     0.000000
25%      -1.000000     0.000000
50%      -1.000000     0.000000
75%      -1.000000     0.000000
max     871.000000    25.000000

In [84]:
# Capping outliers using winsorize
def winsorize(bank, column):
    q1 = bank[column].quantile(0.25)
    q3 = bank[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    bank[column] = np.where(bank[column] < lower_bound, lower_bound, np.where(bank[column] > upper_bound, upper_bound, bank[column]))
    return bank

numeric_columns = bank.select_dtypes(include=np.number).columns
for col in numeric_columns:
    bank = winsorize(bank=bank, column=col)

In [85]:
print(bank.describe())

               age      balance          day     duration     campaign  \
count  4521.000000  4521.000000  4521.000000  4521.000000  4521.000000
mean     41.123203   973.493696    15.915284   241.785667     2.412962
std      10.416974  1240.356566     8.247667   185.397346     1.622028
min      19.000000 -2047.500000     1.000000     4.000000     1.000000
25%      33.000000    69.000000     9.000000   104.000000     1.000000
50%      39.000000   444.000000    16.000000   185.000000     2.000000
75%      49.000000  1480.000000    21.000000   329.000000     3.000000
max      73.000000  3596.500000    31.000000   666.500000     6.000000

        pdays  previous
count  4521.0    4521.0
mean     -1.0       0.0
std       0.0       0.0
min      -1.0       0.0
25%      -1.0       0.0
50%      -1.0       0.0
75%      -1.0       0.0
max      -1.0       0.0

In [86]:
print(bank.head())

    age          job  marital  education default  balance housing loan  \
0  30.0   unemployed  married    primary      no   1787.0      no   no
1  33.0     services  married  secondary      no   3596.5     yes  yes
2  35.0   management   single   tertiary      no   1350.0     yes   no
3  30.0   management  married   tertiary      no   1476.0     yes  yes
4  59.0  blue-collar  married  secondary      no      0.0     yes   no

    contact   day month  duration  campaign  pdays  previous poutcome   y
0  cellular  19.0   oct      79.0       1.0   -1.0       0.0  unknown  no
1  cellular  11.0   may     220.0       1.0   -1.0       0.0  failure  no
2  cellular  16.0   apr     185.0       1.0   -1.0       0.0  failure  no
3   unknown   3.0   jun     199.0       4.0   -1.0       0.0  unknown  no
4   unknown   5.0   may     226.0       1.0   -1.0       0.0  unknown  no

In [88]:
#dropping irrelevant columns
bank_cleaned = bank.drop(columns=['duration'])

#Bank Full

In [103]:
print(bank_full.describe())

                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

In [90]:
# Capping outliers using winsorize
def winsorize(bank_full, column):
    q1 = bank_full[column].quantile(0.25)
    q3 = bank_full[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    bank_full[column] = np.where(bank_full[column] < lower_bound, lower_bound, np.where(bank_full[column] > upper_bound, upper_bound, bank_full[column]))
    return bank_full

numeric_columns = bank_full.select_dtypes(include=np.number).columns
for col in numeric_columns:
    bank_full = winsorize(bank_full=bank_full, column=col)

In [91]:
print(bank_full.describe())

                age       balance           day      duration      campaign  \
count  45211.000000  45211.000000  45211.000000  45211.000000  45211.000000
mean      40.868185    933.706974     15.806419    234.939307      2.392228
std       10.394895   1176.765369      8.322476    176.749932      1.600111
min       18.000000  -1962.000000      1.000000      0.000000      1.000000
25%       33.000000     72.000000      8.000000    103.000000      1.000000
50%       39.000000    448.000000     16.000000    180.000000      2.000000
75%       48.000000   1428.000000     21.000000    319.000000      3.000000
max       70.500000   3462.000000     31.000000    643.000000      6.000000

         pdays  previous
count  45211.0   45211.0
mean      -1.0       0.0
std        0.0       0.0
min       -1.0       0.0
25%       -1.0       0.0
50%       -1.0       0.0
75%       -1.0       0.0
max       -1.0       0.0

In [92]:
print(bank_full.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [93]:
#dropping irrelevant columns
bank_cleaned = bank_full.drop(columns=['duration'])

In [94]:
print(bank_full.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

#Bank Additional

In [104]:
print(bank_additional.describe())

               age     duration     campaign        pdays     previous  \
count  4119.000000  4119.000000  4119.000000  4119.000000  4119.000000
mean     40.113620   256.788055     2.537266   960.422190     0.190337
std      10.313362   254.703736     2.568159   191.922786     0.541788
min      18.000000     0.000000     1.000000     0.000000     0.000000
25%      32.000000   103.000000     1.000000   999.000000     0.000000
50%      38.000000   181.000000     2.000000   999.000000     0.000000
75%      47.000000   317.000000     3.000000   999.000000     0.000000
max      88.000000  3643.000000    35.000000   999.000000     6.000000

       emp.var.rate  cons.price.idx  cons.conf.idx    euribor3m  nr.employed
count   4119.000000     4119.000000    4119.000000  4119.000000  4119.000000
mean       0.084972       93.579704     -40.499102     3.621356  5166.481695
std        1.563114        0.579349       4.594578     1.733591    73.667904
min       -3.400000       92.201000     -50.800000     0.635000  4963.600000
25%       -1.800000       93.075000     -42.700000     1.334000  5099.100000
50%        1.100000       93.749000     -41.800000     4.857000  5191.000000
75%        1.400000       93.994000     -36.400000     4.961000  5228.100000
max        1.400000       94.767000     -26.900000     5.045000  5228.100000

In [105]:
# Capping outliers using winsorize
def winsorize(bank_additional, column):
    q1 = bank_additional[column].quantile(0.25)
    q3 = bank_additional[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    bank_additional[column] = np.where(bank_additional[column] < lower_bound, lower_bound, np.where(bank_additional[column] > upper_bound, upper_bound, bank_additional[column]))
    return bank_additional

numeric_columns = bank_additional.select_dtypes(include=np.number).columns
for col in numeric_columns:
    bank_additional = winsorize(bank_additional=bank_additional, column=col)

In [106]:
print(bank_additional.describe())

               age     duration     campaign   pdays  previous  emp.var.rate  \
count  4119.000000  4119.000000  4119.000000  4119.0    4119.0   4119.000000
mean     40.044792   234.268997     2.274096   999.0       0.0      0.084972
std      10.079498   175.007168     1.541836     0.0       0.0      1.563114
min      18.000000     0.000000     1.000000   999.0       0.0     -3.400000
25%      32.000000   103.000000     1.000000   999.0       0.0     -1.800000
50%      38.000000   181.000000     2.000000   999.0       0.0      1.100000
75%      47.000000   317.000000     3.000000   999.0       0.0      1.400000
max      69.500000   638.000000     6.000000   999.0       0.0      1.400000

       cons.price.idx  cons.conf.idx    euribor3m  nr.employed
count     4119.000000    4119.000000  4119.000000  4119.000000
mean        93.579704     -40.499624     3.621356  5166.481695
std          0.579349       4.593035     1.733591    73.667904
min         92.201000     -50.800000     0.635000  4963.600000
25%         93.075000     -42.700000     1.334000  5099.100000
50%         93.749000     -41.800000     4.857000  5191.000000
75%         93.994000     -36.400000     4.961000  5228.100000
max         94.767000     -26.950000     5.045000  5228.100000

In [107]:
#dropping irrelevant columns
bank_additional = bank_additional.drop(columns=['duration'])

In [108]:
print(bank_additional.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')

#Bank Additional Full

In [109]:
print(bank_additional_full.describe())

               age      duration      campaign         pdays      previous  \
count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000
mean      40.02406    258.285010      2.567593    962.475454      0.172963
std       10.42125    259.279249      2.770014    186.910907      0.494901
min       17.00000      0.000000      1.000000      0.000000      0.000000
25%       32.00000    102.000000      1.000000    999.000000      0.000000
50%       38.00000    180.000000      2.000000    999.000000      0.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000
max       98.00000   4918.000000     56.000000    999.000000      7.000000

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
mean       0.081886       93.575664     -40.502600      3.621291   5167.035911
std        1.570960        0.578840       4.628198      1.734447     72.251528
min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
max        1.400000       94.767000     -26.900000      5.045000   5228.100000

In [110]:
# Capping outliers using winsorize
def winsorize(bank_additional_full, column):
    q1 = bank_additional_full[column].quantile(0.25)
    q3 = bank_additional_full[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    bank_additional_full[column] = np.where(bank_additional_full[column] < lower_bound, lower_bound, np.where(bank_additional_full[column] > upper_bound, upper_bound, bank_additional_full[column]))
    return bank_additional_full

numeric_columns = bank_additional_full.select_dtypes(include=np.number).columns
for col in numeric_columns:
    bank_additional_full = winsorize(bank_additional_full=bank_additional_full, column=col)

In [111]:
print(bank_additional_full.describe())

                age      duration      campaign    pdays  previous  \
count  41188.000000  41188.000000  41188.000000  41188.0   41188.0
mean      39.939485    234.997317      2.275274    999.0       0.0
std       10.129367    177.353309      1.550510      0.0       0.0
min       17.000000      0.000000      1.000000    999.0       0.0
25%       32.000000    102.000000      1.000000    999.0       0.0
50%       38.000000    180.000000      2.000000    999.0       0.0
75%       47.000000    319.000000      3.000000    999.0       0.0
max       69.500000    644.500000      6.000000    999.0       0.0

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
mean       0.081886       93.575664     -40.503143      3.621291   5167.035911
std        1.570960        0.578840       4.626606      1.734447     72.251528
min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
max        1.400000       94.767000     -26.950000      5.045000   5228.100000

In [112]:
print(bank_additional_full.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [113]:
#dropping irrelevant columns
bank_additional_full = bank_additional_full.drop(columns=['duration'])

In [114]:
print(bank_additional_full.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'y'],
      dtype='object')